src/plytoteka.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:wy="wykonawca"
           xmlns:ga="gatunek">
    <xs:import namespace="wykonawca" schemaLocation="namespaces/wykonawca.xsd"/>
    <xs:import namespace="gatunek" schemaLocation="namespaces/gatunek.xsd"/>
    <xs:element name="__ROOT__" type="__ROOT__Type">
        <xs:key name="WykonawcaKey">
            <xs:selector xpath="wykonawcy/wykonawca"/>
            <xs:field xpath="@id"/>
        </xs:key>
        <xs:keyref name="WykonawcaKeyRef" refer="WykonawcaKey">
            <xs:selector xpath="tabela-płyt/płyty/płyta"/>
            <xs:field xpath="@id-wykonawcy"/>
        </xs:keyref>
    </xs:element>
    <xs:complexType name="nagłówekType">
        <xs:sequence>
            <xs:element type="autorzyType" name="autorzy"/>
            <xs:element type="dateType" name="data-oddania"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="autorzyType">
        <xs:sequence>
            <xs:element type="autorType" name="autor" maxOccurs="2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="autorType">
        <xs:sequence>
            <xs:element type="xs:string" name="imie"/>
            <xs:element type="xs:string" name="nazwisko"/>
            <xs:element type="index" name="index"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="index">
        <xs:restriction base="xs:nonNegativeInteger">
            <xs:pattern value="\d{6}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="dateType">
        <xs:all>
            <xs:element type="xs:string" name="dzień-tygodnia" minOccurs="0"/>
            <xs:element type="xs:date" name="data" minOccurs="1" maxOccurs="1"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="kolumnyType">
        <xs:group ref="kolumnaGroup" minOccurs="1" maxOccurs="1"/>
    </xs:complexType>
    <xs:group name="kolumnaGroup">
        <xs:sequence>
            <xs:element name="kolumna" type="xs:string" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:group>
    <xs:complexType name="wykonawcyType">
        <xs:sequence>
            <xs:element type="kolumnyType" name="kolumny"/>
            <xs:group ref="wykonawcaGroup" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:group name="wykonawcaGroup">
        <xs:sequence>
            <xs:element type="wy:wykonawcaType" name="wykonawca" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:complexType name="tabelaPłytType">
        <xs:sequence>
            <xs:element type="kolumnyType" name="kolumny"/>
            <xs:element type="płytyType" name="płyty"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="płytyType">
        <xs:group ref="płytyGroup" minOccurs="1" maxOccurs="1"/>
    </xs:complexType>

    <xs:group name="płytyGroup">
        <xs:sequence>
            <xs:element type="płytaType" name="płyta" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>

    <xs:complexType name="płytaType">
        <xs:sequence>
            <xs:element type="xs:string" name="tytuł"/>
            <xs:element type="xs:string" name="nazwa-wykonawcy"/>
            <xs:element ref="ga:gatunek"/>
            <xs:element type="cenaType" name="cena"/>
            <xs:element type="polishDecimal" name="ocena"/>
            <xs:element type="dateType" name="premiera"/>
            <xs:element type="opisType" name="opis"/>
        </xs:sequence>
        <xs:attributeGroup ref="płytaAttr"/>
    </xs:complexType>
    <xs:attributeGroup name="płytaAttr">
        <xs:attribute name="bestseller" type="xs:boolean"/>
        <xs:attribute name="id-wykonawcy" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="_[0-9]+"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:complexType name="cenaType">
        <xs:simpleContent>
            <xs:extension base="polishDecimal">
                <xs:attribute name="waluta" default="PLN" type="walutaType"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="walutaType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PLN"/>
            <xs:enumeration value="USD"/>
            <xs:enumeration value="EUR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="polishDecimal">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d+((,|\.)\d+)?"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="opisType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="1000"/>
            <xs:whiteSpace value="preserve"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="gatunki">
        <xs:sequence>
            <xs:element type="kolumnyType" name="kolumny" maxOccurs="1"/>
            <xs:group ref="gatunkiGroup" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:group name="gatunkiGroup">
        <xs:sequence >
            <xs:element ref="ga:gatunek" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>


    <xs:complexType name="__ROOT__Type">
        <xs:sequence>
            <xs:element type="nagłówekType" name="nagłówek" maxOccurs="1"/>
            <xs:element type="gatunki" name="gatunki" maxOccurs="1" minOccurs="1"/>
            <xs:element type="wykonawcyType" name="wykonawcy" maxOccurs="1"/>
            <xs:element type="tabelaPłytType" name="tabela-płyt" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="version"/>
    </xs:complexType>
</xs:schema>